* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  border: 1px solid;



  height: 100dvh;
}


.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: black;

  padding: 20px;

  height: 10dvh;
}

.container {
  border: 1px solid;
  padding: 20px;

  height: 90dvh;


}

.nav>a {
  color: white;
  text-decoration: none;
}



.Main-container>h1 {
  padding: 10px;
  background: black;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border: 1px solid;

  height: 75dvh;
  /* max-height: 75dvh; */

  overflow-y: auto;


}

.product-container>div {
  padding: 10px;
  border: 1px solid;
  text-align: center;
  justify-content: center;
}

.product-container>div>p.category {
  border: 2px solid red;
  background: black;
  color: white;
}

.product-container>div>p.price {
  margin-top: 10px;
  border: 2px solid blue;
  background: black;
  color: white;

}